::selection {
  background-color: var(--primary-color);
  color: #fff;
}

/* GLOBAL CLASSES */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.container-fluid {
  max-width: 130rem;
  margin: 0 auto;
  padding: 3rem;
}

a:focus {
  outline: 0.6rem solid var(--primary-color);
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: var(--primary-color);
  text-transform: capitalize;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  border: none;
  font-size: 1.6rem;
}

.btn:hover {
  background-color: var(--primary-color-light);
}

.primary-color {
  color: var(--text-color);
  text-decoration: none;
}

.row {
  display: grid;
}

.col-1 {
  grid-template-columns: 1fr;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.col-5 {
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem;
}

.col-6 {
  grid-template-columns: repeat(6, 1fr);
  gap: 4rem;
}

.btn-up {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  opacity: 0;
  transition: all 0.3s ease;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 1rem #bbb;
  width: 100% !important;
}

.fixed a {
  color: var(--text-color);
}

.fixed i {
  color: var(--text-color);
}
