@media only screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.2rem;
  }

  .nav-list {
    flex-direction: column;
    gap: 0.8rem;
  }

  .nav-btn {
    display: block;
    position: fixed;
    top: 2rem;
    right: 4rem;
  }

  .hero-sub {
    letter-spacing: 0.1rem;
  }

  .links-container {
    height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
  }

  .hero-text {
    width: 100%;
  }

  .feature-quote {
    margin-left: 0;
  }

  .donate-details {
    grid-template-columns: 1fr;
    row-gap: 0.8rem;
  }

  .col-4,
  .col-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 425px) {
  html {
    font-size: 56.25%;
  }

  .cta-photo {
    height: 22rem;
  }

  .secondary-heading {
    font-size: 2.6rem;
    text-align: center;
  }

  .donate {
    width: 90vw;
  }

  .col-2 {
    grid-template-columns: 1fr;
  }

  .col-3 {
    grid-template-columns: 1fr;
  }

  .col-4 {
    grid-template-columns: 1fr;
  }

  .col-5 {
    grid-template-columns: 1fr;
  }

  .col-6 {
    grid-template-columns: 1fr;
  }

  .btn-up {
    right: 2rem;
  }
}

@media only screen and (min-width: 769px) {
  .links-container {
    height: auto !important;
  }
}
