@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

:root {
  --primary-color: #dc2626;
  --primary-color-light: #ef4444;
  --primary-color-dark: #b91c1c;

  --text-color: #444;
  --bg-primary: #f3f4f6;
  --bg-secondary: #e5e7eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-primary);
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  font-weight: 400;
}

/* HEADER */
#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.logo-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.nav-item {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.6px;
  border-bottom: 0.3rem transparent var(--primary-color-light);
  transition: border-color 0.3s;
}

.nav-link:hover {
  border-bottom: 0.3rem solid var(--primary-color-light);
}

.nav-btn {
  font-size: 2.2rem;
  cursor: pointer;
  display: none;
}

.hero-header {
  padding-top: 6rem;
  margin-bottom: 1rem;
}

.hero-main {
  font-size: 4.8rem;
  margin-bottom: 0.4rem;
  display: block;
  letter-spacing: 0.8rem;
}

.hero-sub {
  font-size: 3.6rem;
  letter-spacing: 0.2rem;
}

.hero-text {
  font-size: 1.6rem;
  width: 50vw;
  line-height: 1.6;
  margin-top: 2rem;
}

.btn-hero {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

/* TRUST */
#trust {
  background-color: #fff;
  padding: 4rem 0;
}

.trust-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 3rem;
}

.trust-heading {
  font-size: 2.8rem;
  text-transform: capitalize;
}

.trust-description {
  font-size: 1.6rem;
  text-align: center;
}

.trust-card {
  display: grid;
  grid-template-columns: 2rem 1fr;
  column-gap: 1.5rem;
  row-gap: 1rem;
}

.trust-icon {
  align-self: flex-start;
}

.trust-icon i {
  font-size: 1.8rem;
  color: var(--primary-color);
}

.trust-title {
  font-size: 1.6rem;
}

.trust-text {
  grid-column: 2 / 3;
  font-size: 1.6rem;
  line-height: 1.4;
}

/* FEATURES */
#features {
  padding: 4rem 0;
}

.feature-content {
  width: 100%;
}

.feature-photo {
  width: 100%;
}

.feature-title {
  font-size: 2.8rem;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
}

.feature-sub-title {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}

.feature-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.feature-quote {
  margin-left: 8rem;
  background-color: #e5e7eb;
  padding: 1rem;
  margin-top: 2rem;
  border-left: 6px solid #9ca3af;
  border-radius: 6px;
}

.quote-title {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
}

.quote-text {
  font-size: 1.4rem;
  line-height: 1.6;
}

/* CAMPAIGN */
#campaigns {
  padding: 6rem 0;
  background-color: #fff;
}

.campaigns-title {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 4rem;
  text-transform: capitalize;
}

.campaign-img {
  width: 100%;
}

.campaign-title {
  text-transform: capitalize;
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
}

.campaign-text {
  font-size: 1.5rem;
  line-height: 1.5;
}

.campaign-details {
  margin-top: 2rem;
}

/* TEAMS */
#team {
  padding: 4rem 0;
}

.team-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 4rem;
}

.team-title {
  font-size: 3rem;
  text-transform: capitalize;
}

.team-description {
  font-size: 1.6rem;
  text-align: center;
}

.team-card {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  padding: 3rem 2rem;
}

.team-img {
  width: 80%;
  border-radius: 50%;
  height: auto;
}

.team-name {
  font-size: 1.8rem;
  margin: 2rem 0 0.6rem 0;
}

.team-position {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-bottom: 0.6rem;
  text-transform: capitalize;
}

.team-text {
  font-size: 1.6rem;
  line-height: 1.4;
  text-align: center;
}

.team-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

/* DONATORS */
#donators {
  padding: 4rem 0;
  background-color: #fff;
}

.donator-img {
  width: 100%;
}

.donator-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

.donator-heading {
  font-size: 3rem;
  text-transform: capitalize;
}

.donator-card {
  background-color: var(--bg-primary);
  border-radius: 3px;
  overflow: hidden;
}

.donator-details {
  padding: 1rem;
}

.donator-name {
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-bottom: 0.8rem;
}

.donator-cause {
  text-transform: capitalize;
  font-size: 1.4rem;
  color: #777;
}

.donator-activities {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donator-text {
  font-size: 1.4rem;
}

.donator-amount {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
}

/* CTA */
#cta {
  padding: 6rem 0;
}

.cta-photo {
  background-image: url(../img/sadchild.jpg);
  background-size: cover;
  background-position: center;
  height: 28rem;
  width: 100%;
}

.cta-title {
  font-size: 2.6rem;
  margin-bottom: 1.2rem;
}

.cta-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.btn-cta {
  margin-top: 3rem;
}

/* FOOTER */
.footer {
  padding: 4rem 0 1rem 0;
  background-color: #57534e;
  color: #fff;
}

.footer-title {
  text-transform: capitalize;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.footer-list {
  list-style: none;
}

.footer-item {
  font-size: 1.4rem;
  text-transform: capitalize;
  padding-top: 1rem;
}

.footer-item:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid #aaa;
}

.footer-link {
  color: #bbb;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.copyright-text {
  text-align: center;
  color: #bbb;
  font-size: 1.4rem;
}

.copyright {
  margin-top: 3rem;
}

.copyright-text:not(:last-child) {
  margin-bottom: 0.8rem;
}
